<h1>User Profile</h1><br>
<br>
<%= @user.username %><br>
<br>
Created Books: <br>
<% @mybooks.each do |f| %>
    <%= f.title %><br>
<% end %><br>
Contributed Chapters:<br>
<% @mychapters.each do |f| %>
    <% booktochapter = find_book_to_chapter(f.book_id) %>
    Chapter:  <%= f.chaptertitle %> for:  <%= booktochapter.title %><br>
<% end %><br>
<br>
<%= link_to 'Edit profile', edit_user_registration_path %>