<h1><%= @user.username %></h1>
<div class="imagedropshadow">
About me: <%= @user.about %><br>
</div>
<% if user_signed_in? && (current_user.id == @user.id) %>
    <%= link_to 'Edit profile', edit_user_registration_path %>
<% end %><br><br>

<table style="width:100%">
  <tr>
    <th>Created Books: </th>
    <th>Contributed Chapters: </th>
  </tr>
      <tr>
        <td style="vertical-align:top">
        <% @mybooks.each do |f| %>
          <%= link_to f.title, book_path(f) %><br>
        <% end %></td>
    <td style="vertical-align:top">
      <table class="profiletabelle">
      <% @mychapters.each do |f| %>
            <tr>
          <% booktochapter = find_book_to_chapter(f.book_id) %>
         <td> Chapter:  <%= link_to f.chaptertitle, book_chapter_path(booktochapter, f) %></td><td>  for:  <%= link_to booktochapter.title, book_path(booktochapter) %>
      <% end %>
        </td>
        </tr>
      </table>
  </tr>
</table>

